In [1]:
import pandas as pd
import numpy as np

In [2]:
purchased=pd.read_excel('purchased_components_4_8.xlsx')

In [3]:
#only keep the part number, vendor buyer planner, description

In [4]:
purchased = purchased[['PART NUMBER', 'VENDOR NAME', 'B/P']]

In [5]:
purchased

          PART NUMBER                  VENDOR NAME  B/P
0       10-506410-16R               BATTEN & ALLEN  B65
1       10-597802-020                   CARBY CORP  B86
2       10-597802-020                   CARBY CORP  B86
3       10-597802-020                   CARBY CORP  B86
4       10-597802-020                   CARBY CORP  B86
...               ...                          ...  ...
11693   10-538768-009        AVNET ELECTRONIC MKTG  GRS
11694   10-538980-13G        AVNET ELECTRONIC MKTG  NPT
11695   10-538980-179        AVNET ELECTRONIC MKTG  GKN
11696  M10-037262-024  SCICAST INTERNATIONAL, INC.  JPT
11697  SF-3095975-101        ADVANCED INTERCONNECT  U56

[11698 rows x 3 columns]

In [6]:
master=pd.read_excel('manu_code_master.xlsx')

In [7]:
master

,CO#,PART NUMBER,PART TYPE,PART SUB TYPE,PART SIZE,PART FAMILY SERIES,PART FRONT FEATURES,PART BACK FEATURES,RAW MATERIAL TYPE,RAW MATERIAL SHAPE,RAW SIZE,SECOND RAW MAT DIM
0,100,AN960JD1816L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
1,100,AN960JD2616L,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
2,100,AR-109161-03B,S,Z,ZZ,Y,NaN,NaN,A,Z,0.0,0
3,100,AR-139131-004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
4,100,AR-140000-008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
34384,100,998171410EN-Y70,S,R,14,P,NaN,NaN,3,C,0.0,0
34385,100,998171610EN-Y70,S,R,16,P,NaN,NaN,3,C,0.0,0
34386,100,998171810EN-Y70,S,R,18,P,NaN,NaN,3,C,0.0,0
34387,100,998600-021-0000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0
34388,100,99986217235310W,S,R,23,P,NaN,NaN,A,C,0.0,0

In [8]:
#merge on part number
merged = pd.merge(purchased, master, how="inner", on="PART NUMBER")

In [9]:
merged

,PART NUMBER,VENDOR NAME,B/P,CO#,PART TYPE,PART SUB TYPE,PART SIZE,PART FAMILY SERIES,PART FRONT FEATURES,PART BACK FEATURES,RAW MATERIAL TYPE,RAW MATERIAL SHAPE,RAW SIZE,SECOND RAW MAT DIM
0,10-506410-16R,BATTEN & ALLEN,B65,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0
1,10-597802-020,CARBY CORP,B86,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0
2,10-597802-020,CARBY CORP,B86,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0
3,10-597802-020,CARBY CORP,B86,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0
4,10-597802-020,CARBY CORP,B86,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3260,BT-1224-10E,LOPEZ PLATING & SERVICE SUPPLY,B18,100,S,P,24,P,NaN,NaN,3,C,1.500,0
3261,BT12E1010E-Y103,LOPEZ PLATING & SERVICE SUPPLY,B18,100,S,P,10,P,NaN,NaN,3,C,0.750,0
3262,M10-040753-17B,ROYAL MACHINING CORPORATION,M08,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0
3263,10-538750-13B,TUNG TAI HARDWARE MFG.,NKT,100,S,W,13,T,NaN,NaN,A,C,1.625,0
3264,2169-003-0010,"TURNXON PRECISION CO., LTD.",NCH,100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0

In [10]:
merged = merged[merged['PART TYPE'].notna()]

In [11]:
merged

,PART NUMBER,VENDOR NAME,B/P,CO#,PART TYPE,PART SUB TYPE,PART SIZE,PART FAMILY SERIES,PART FRONT FEATURES,PART BACK FEATURES,RAW MATERIAL TYPE,RAW MATERIAL SHAPE,RAW SIZE,SECOND RAW MAT DIM
423,SF-538515-139,INCERTEC EMPALME PLANT,B74,100,S,J,13,T,NaN,NaN,Z,Z,0.000,0
424,SF-538515-139,INCERTEC EMPALME PLANT,B74,100,S,J,13,T,NaN,NaN,Z,Z,0.000,0
425,10-723528-14AB,"TURNXON PRECISION CO., LTD.",B60,100,S,R,14,B,NaN,NaN,Z,Z,0.000,0
426,10-723528-14AB,"TURNXON PRECISION CO., LTD.",B60,100,S,R,14,B,NaN,NaN,Z,Z,0.000,0
428,10-744680-17B,J & S INC.,B90,100,S,R,17,T,NaN,NaN,A,C,1.625,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3071,10-6460F0-140,GLENAIR,B86,100,S,B,ZZ,Z,NaN,NaN,Z,Z,0.000,0
3258,10-696126-05B,TUNG TAI HARDWARE MFG.,D12,100,S,P,5,B,NaN,NaN,A,Z,0.000,0
3260,BT-1224-10E,LOPEZ PLATING & SERVICE SUPPLY,B18,100,S,P,24,P,NaN,NaN,3,C,1.500,0
3261,BT12E1010E-Y103,LOPEZ PLATING & SERVICE SUPPLY,B18,100,S,P,10,P,NaN,NaN,3,C,0.750,0
3263,10-538750-13B,TUNG TAI HARDWARE MFG.,NKT,100,S,W,13,T,NaN,NaN,A,C,1.625,0

In [12]:
merged.to_excel('merged_4_8.xls')

C:\Users\MPERSO~1\AppData\Local\Temp/ipykernel_18828/2249625113.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  merged.to_excel('merged_4_8.xls')

In [13]:
for_missing=pd.read_excel('for_missing_shells.xlsx')

In [14]:
for_missing

          PART NUMBER  Check
0      10-723528-14AB      1
1      10-723528-14AB      1
2       10-744680-17B      1
3       10-744680-17B      1
4       10-744680-17B      1
...               ...    ...
1045   M1000-078-7408      1
1046    10-527334-15T      1
1047      BT-1224-10E      1
1048  BT12E1010E-Y103      1
1049      HT-1228-10E      1

[1050 rows x 2 columns]

In [15]:
merged2 = pd.merge(for_missing, merged, how="outer", on="PART NUMBER")

In [16]:
merged2

,PART NUMBER,Check,VENDOR NAME,B/P,CO#,PART TYPE,PART SUB TYPE,PART SIZE,PART FAMILY SERIES,PART FRONT FEATURES,PART BACK FEATURES,RAW MATERIAL TYPE,RAW MATERIAL SHAPE,RAW SIZE,SECOND RAW MAT DIM
0,10-723528-14AB,1.0,"TURNXON PRECISION CO., LTD.",B60,100.0,S,R,14,B,NaN,NaN,Z,Z,0.000,0.0
1,10-723528-14AB,1.0,"TURNXON PRECISION CO., LTD.",B60,100.0,S,R,14,B,NaN,NaN,Z,Z,0.000,0.0
2,10-723528-14AB,1.0,"TURNXON PRECISION CO., LTD.",B60,100.0,S,R,14,B,NaN,NaN,Z,Z,0.000,0.0
3,10-723528-14AB,1.0,"TURNXON PRECISION CO., LTD.",B60,100.0,S,R,14,B,NaN,NaN,Z,Z,0.000,0.0
4,10-744680-17B,1.0,J & S INC.,B90,100.0,S,R,17,T,NaN,NaN,A,C,1.625,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2112,97-711955-000,NaN,ADVANCED INTERCONNECT,B30,100.0,S,R,ZZ,G,NaN,NaN,Z,Z,0.000,0.0
2113,97-711955-000,NaN,ADVANCED INTERCONNECT,B30,100.0,S,R,ZZ,G,NaN,NaN,Z,Z,0.000,0.0
2114,97-711955-000,NaN,ADVANCED INTERCONNECT,B30,100.0,S,R,ZZ,G,NaN,NaN,Z,Z,0.000,0.0
2115,97-711955-000,NaN,ADVANCED INTERCONNECT,B30,100.0,S,R,ZZ,G,NaN,NaN,Z,Z,0.000,0.0
2116,10-538750-13B,NaN,TUNG TAI HARDWARE MFG.,NKT,100.0,S,W,13,T,NaN,NaN,A,C,1.625,0.0

In [17]:
merged2.to_excel('merged2.xls')

C:\Users\MPERSO~1\AppData\Local\Temp/ipykernel_18828/1990858466.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  merged2.to_excel('merged2.xls')

In [18]:
## ok, resume working on merged

merged

,PART NUMBER,VENDOR NAME,B/P,CO#,PART TYPE,PART SUB TYPE,PART SIZE,PART FAMILY SERIES,PART FRONT FEATURES,PART BACK FEATURES,RAW MATERIAL TYPE,RAW MATERIAL SHAPE,RAW SIZE,SECOND RAW MAT DIM
423,SF-538515-139,INCERTEC EMPALME PLANT,B74,100,S,J,13,T,NaN,NaN,Z,Z,0.000,0
424,SF-538515-139,INCERTEC EMPALME PLANT,B74,100,S,J,13,T,NaN,NaN,Z,Z,0.000,0
425,10-723528-14AB,"TURNXON PRECISION CO., LTD.",B60,100,S,R,14,B,NaN,NaN,Z,Z,0.000,0
426,10-723528-14AB,"TURNXON PRECISION CO., LTD.",B60,100,S,R,14,B,NaN,NaN,Z,Z,0.000,0
428,10-744680-17B,J & S INC.,B90,100,S,R,17,T,NaN,NaN,A,C,1.625,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3071,10-6460F0-140,GLENAIR,B86,100,S,B,ZZ,Z,NaN,NaN,Z,Z,0.000,0
3258,10-696126-05B,TUNG TAI HARDWARE MFG.,D12,100,S,P,5,B,NaN,NaN,A,Z,0.000,0
3260,BT-1224-10E,LOPEZ PLATING & SERVICE SUPPLY,B18,100,S,P,24,P,NaN,NaN,3,C,1.500,0
3261,BT12E1010E-Y103,LOPEZ PLATING & SERVICE SUPPLY,B18,100,S,P,10,P,NaN,NaN,3,C,0.750,0
3263,10-538750-13B,TUNG TAI HARDWARE MFG.,NKT,100,S,W,13,T,NaN,NaN,A,C,1.625,0

In [19]:
merged['PART FAMILY SERIES'].unique()

array(['T', 'B', 'Z', 'P', 'J', 'C', 'N', 'Y', 'D', 'X', 'F', 'S', 'G',
       'L', 'H', 'R', 'M'], dtype=object)

In [20]:
merged['RAW MATERIAL TYPE'].unique()

array(['Z', 'A', '3', 'N', '2', 'W', 'X', 'C', '4', 'U'], dtype=object)

In [21]:
series_summary=merged.groupby("PART FAMILY SERIES")["PART FAMILY SERIES"].count().reset_index(name='count')

In [22]:
material_summary=merged.groupby("RAW MATERIAL TYPE")["RAW MATERIAL TYPE"].count().reset_index(name='count')

In [23]:
material_summary['Material Code']=material_summary['RAW MATERIAL TYPE'].astype(str)

In [24]:
material_summary['Material Code'].astype(str)
material_summary

  RAW MATERIAL TYPE  count Material Code
0                 2      2             2
1                 3    266             3
2                 4      7             4
3                 A    378             A
4                 C      5             C
5                 N      1             N
6                 U      2             U
7                 W      7             W
8                 X      1             X
9                 Z    106             Z

In [25]:
sum_totalm=material_summary['count'].sum()

In [26]:
material_summary['total']=sum_totalm

In [27]:
#material_summary['Material ']

In [28]:
material_summary['Material Code']

0    2
1    3
2    4
3    A
4    C
5    N
6    U
7    W
8    X
9    Z
Name: Material Code, dtype: object

In [29]:
material_code=pd.read_excel('Material_Code_Breakdown.xlsx')

In [30]:
material_code['Material Code']=material_code['Material Code'].astype(str)

In [31]:
material_code['Material Code'].astype(str)

0     2
1     3
2     4
3     A
4     B
5     C
6     D
7     G
8     K
9     L
10    M
11    N
12    P
13    S
14    T
15    U
16    V
17    W
18    X
19    Z
Name: Material Code, dtype: object

In [32]:
merged4 = pd.merge(material_summary, material_code, how="inner", on="Material Code")

In [33]:
sum_total=merged4['count'].sum()

In [34]:
sum_total

775

In [35]:
merged4['total']=sum_total

In [36]:
merged4

  RAW MATERIAL TYPE  count Material Code  total          Type
0                 2      2             2    775        302 SS
1                 3    266             3    775        303 SS
2                 4      7             4    775        304 SS
3                 A    378             A    775            Al
4                 C      5             C    775  Carbon Steel
5                 N      1             N    775         Nylon
6                 U      2             U    775         Ultem
7                 W      7             W    775       316L SS
8                 X      1             X    775        316 SS
9                 Z    106             Z    775           NaN

In [37]:
merged4['Material Frequency']=(merged4['count']/merged4['total'])*100
#merged4=merged4.style.format({'Material Frequency': '{:,.2%}'.format})

In [38]:
merged4= merged4.drop('Material Code', axis=1)

In [39]:
merged4 = merged4[['RAW MATERIAL TYPE', 'Type', 'count', 'total', 'Material Frequency']]

In [40]:
merged4

  RAW MATERIAL TYPE          Type  count  total  Material Frequency
0                 2        302 SS      2    775            0.258065
1                 3        303 SS    266    775           34.322581
2                 4        304 SS      7    775            0.903226
3                 A            Al    378    775           48.774194
4                 C  Carbon Steel      5    775            0.645161
5                 N         Nylon      1    775            0.129032
6                 U         Ultem      2    775            0.258065
7                 W       316L SS      7    775            0.903226
8                 X        316 SS      1    775            0.129032
9                 Z           NaN    106    775           13.677419

In [41]:
series_summary['Series_Code']=series_summary["PART FAMILY SERIES"]

In [42]:
series_summary

   PART FAMILY SERIES  count Series_Code
0                   B    152           B
1                   C     54           C
2                   D     19           D
3                   F      2           F
4                   G      6           G
5                   H      6           H
6                   J     26           J
7                   L      3           L
8                   M      5           M
9                   N      2           N
10                  P     94           P
11                  R      1           R
12                  S     14           S
13                  T    224           T
14                  X      5           X
15                  Y     47           Y
16                  Z    115           Z

In [43]:
breakdown= pd.read_excel('Series_Code_Breakdown.xlsx')

In [44]:
merged3 = pd.merge(series_summary, breakdown, how="inner", on="Series_Code")

In [45]:
sum_total3=merged3['count'].sum()

In [46]:
merged3['total']=sum_total3

In [47]:
merged3['Series Frequency']=(merged3['count']/merged3['total'])*100

In [48]:
merged3

,PART FAMILY SERIES,count,Series_Code,Latest_Series_Description,total,Series Frequency
0,B,152,B,2M,775,19.612903
1,C,54,C,5015,775,6.967742
2,D,19,D,DUALOK,775,2.451613
3,F,2,F,FIBER OPTIC MISC COMPONENTS & SUB ASSEMBLIES,775,0.258065
4,G,6,G,MILITARY GT,775,0.774194
5,H,6,H,Hermetic,775,0.774194
6,J,26,J,JT,775,3.354839
7,L,3,L,LJT,775,0.387097
8,M,5,M,Matrix,775,0.645161
9,N,2,N,PT,775,0.258065
10,P,94,P,Pyle,775,12.129032
11,R,1,R,TRI START ACCESSORIES (EXCEPT CAPS),775,0.129032
12,S,14,S,Space,775,1.806452
13,T,224,T,TV,775,28.903226
14,X,5,X,MIL-C-22992,775,0.645161
15,Y,47,Y,Filter,775,6.064516
16,Z,115,Z,Other,775,14.838710

In [49]:
merged3 = merged3[['PART FAMILY SERIES', 'Latest_Series_Description', 'count', 'total', 'Series Frequency']]

In [50]:
merged3=merged3.style.set_caption("Purchased Material")

In [51]:
merged3

In [52]:
total=len(merged)

In [53]:
total

775

# 6 month load for Sidney

In [54]:
sidney=pd.read_excel('D49_Shells.xlsx')

In [55]:
sidney

,PART NUMBER,ORDER,TYP,B/P,PART TYPE,PART SUB TYPE,PART SIZE,PART SERIES,FRONT FEATURES,BACK FEATURES,RAW MAT TYPE,RAW MAT SHAPE,PRIMARY RAW DIM,SECOND RAW DIM
0,10-711622-009,2892420.0,R,P58,H,Z,ZZ,G,NaN,NaN,B,C,2.188,0
1,SF-120920-011,2846810.0,R,F45,S,R,11,Y,NaN,NaN,Z,Z,0.000,0
2,SF-120920-011,2846810.0,R,F45,S,R,11,Y,NaN,NaN,Z,Z,0.000,0
3,SF-120624-218,NaN,P,F46,S,Z,21,Y,NaN,NaN,3,C,2.500,0
4,SF-120624-218,NaN,P,F46,S,Z,21,Y,NaN,NaN,3,C,2.500,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5342,1100-057-0028,NaN,P,X20,S,R,28,C,NaN,NaN,A,C,2.750,0
5343,1100-057-0028,NaN,P,X20,S,R,28,C,NaN,NaN,A,C,2.750,0
5344,10-666149-009,NaN,P,X66,H,N,9,Z,NaN,NaN,3,C,1.000,0
5345,10-666149-009,NaN,P,X66,H,N,9,Z,NaN,NaN,3,C,1.000,0
5346,10-666149-009,NaN,P,X66,H,N,9,Z,NaN,NaN,3,C,1.000,0

In [56]:
sidney_series_summary=sidney.groupby('PART SERIES')['PART SERIES'].count().reset_index(name='count')
sidney_material=sidney.groupby("RAW MAT TYPE")["RAW MAT TYPE"].count().reset_index(name='count')

In [57]:
sidney_series_summary['Series_Code']=sidney_series_summary['PART SERIES']
sidney_material['Material Code']=sidney_material['RAW MAT TYPE']

In [58]:
sidney_series_summary

   PART SERIES  count Series_Code
0            A     31           A
1            B    108           B
2            C    398           C
3            E      9           E
4            F     16           F
5            G    100           G
6            H    240           H
7            J    207           J
8            K    121           K
9            L    419           L
10           M    105           M
11           N     54           N
12           P    799           P
13           Q     70           Q
14           R     26           R
15           S    182           S
16           T   1534           T
17           U     19           U
18           V      3           V
19           W      1           W
20           X     83           X
21           Y    536           Y
22           Z    286           Z

In [59]:
sidney_material

   RAW MAT TYPE  count Material Code
0             3   1272             3
1             4    199             4
2             A   3009             A
3             B      9             B
4             C    105             C
5             K     19             K
6             M     22             M
7             N     38             N
8             P     40             P
9             S      6             S
10            W     53             W
11            X     22             X
12            Z    553             Z

In [60]:
sum_total50=sidney_series_summary['count'].sum()

In [61]:
sum_totalss=sidney_series_summary['count'].sum()

In [62]:
sum_totalss

5347

In [63]:
sidney_series_summary['Series_Code']=sidney_series_summary['Series_Code'].astype(str)
sidney_material['Material Code']=sidney_material['Material Code'].astype(str)

In [64]:
breakdown['Series_Code']=breakdown['Series_Code'].astype(str)

In [65]:
sid_material = pd.merge(sidney_material, material_code, how="inner", on="Material Code")

In [66]:
sid_material

   RAW MAT TYPE  count Material Code          Type
0             3   1272             3        303 SS
1             4    199             4        304 SS
2             A   3009             A            Al
3             B      9             B         Brass
4             C    105             C  Carbon Steel
5             K     19             K         Ni Al
6             M     22             M          BeCu
7             N     38             N         Nylon
8             P     40             P           PPS
9             S      6             S         Steel
10            W     53             W       316L SS
11            X     22             X        316 SS
12            Z    553             Z           NaN

In [67]:
sid_material['total']=sum_totalss

In [68]:
sid_material['Material Frequency']=(sid_material['count']/sid_material['total'])*100

In [69]:
sid_material

   RAW MAT TYPE  count Material Code          Type  total  Material Frequency
0             3   1272             3        303 SS   5347           23.789041
1             4    199             4        304 SS   5347            3.721713
2             A   3009             A            Al   5347           56.274546
3             B      9             B         Brass   5347            0.168319
4             C    105             C  Carbon Steel   5347            1.963718
5             K     19             K         Ni Al   5347            0.355339
6             M     22             M          BeCu   5347            0.411446
7             N     38             N         Nylon   5347            0.710679
8             P     40             P           PPS   5347            0.748083
9             S      6             S         Steel   5347            0.112212
10            W     53             W       316L SS   5347            0.991210
11            X     22             X        316 SS   5347            0.411446
12            Z    553             Z           NaN   5347           10.342248

In [70]:
sid_material= sid_material[['Material Code', 'Type', 'count', 'total', 'Material Frequency']]

In [71]:
sid_material

   Material Code          Type  count  total  Material Frequency
0              3        303 SS   1272   5347           23.789041
1              4        304 SS    199   5347            3.721713
2              A            Al   3009   5347           56.274546
3              B         Brass      9   5347            0.168319
4              C  Carbon Steel    105   5347            1.963718
5              K         Ni Al     19   5347            0.355339
6              M          BeCu     22   5347            0.411446
7              N         Nylon     38   5347            0.710679
8              P           PPS     40   5347            0.748083
9              S         Steel      6   5347            0.112212
10             W       316L SS     53   5347            0.991210
11             X        316 SS     22   5347            0.411446
12             Z           NaN    553   5347           10.342248

In [72]:
sidney_ser_merge= pd.merge(sidney_series_summary, breakdown, how="inner", on="Series_Code")

In [73]:
sidney_ser_merge['total']=sum_totalss

In [74]:
sidney_ser_merge['Series Frequency']=(sidney_ser_merge['count']/sidney_ser_merge['total'])*100

In [75]:
sidney_ser_merge

,PART SERIES,count,Series_Code,Latest_Series_Description,total,Series Frequency
0,A,31,A,26482,5347,0.579764
1,B,108,B,2M,5347,2.019824
2,C,398,C,5015,5347,7.443426
3,E,9,E,OVAL CONTACT SYSTEM,5347,0.168319
4,F,16,F,FIBER OPTIC MISC COMPONENTS & SUB ASSEMBLIES,5347,0.299233
5,G,100,G,MILITARY GT,5347,1.870208
6,H,240,H,Hermetic,5347,4.488498
7,J,207,J,JT,5347,3.871330
8,K,121,K,SERIES 348,5347,2.262951
9,L,419,L,LJT,5347,7.836170
10,M,105,M,Matrix,5347,1.963718
11,N,54,N,PT,5347,1.009912
12,P,799,P,Pyle,5347,14.942959
13,Q,70,Q,QWL/BT/HT,5347,1.309145
14,R,26,R,TRI START ACCESSORIES (EXCEPT CAPS),5347,0.486254
15,S,182,S,Space,5347,3.403778
16,T,1534,T,TV,5347,28.688984
17,U,19,U,SJT,5347,0.355339
18,V,3,V,High Voltage 38999,5347,0.056106
19,W,1,W,Under Water,5347,0.018702
20,X,83,X,MIL-C-22992,5347,1.552272
21,Y,536,Y,Filter,5347,10.024313
22,Z,286,Z,Other,5347,5.348794

In [76]:
sidney_ser_merge = sidney_ser_merge[['PART SERIES', 'Latest_Series_Description', 'count', 'total', 'Series Frequency']]

In [77]:
mesa=pd.read_excel('mesa_shells.xlsx')
mesa

,DEPT,PART #,PART TYPE,PART SUB TYPE,PART SIZE,PART SERIES,FRONT FEATURES,BACK FEATURES,RAW MAT TYPE,RAW MAT SHAPE,PRIMARY RAW DIM,SECOND RAW DIM,INV CAT 1,INV CAT 2
0,60,SM-121325-2609,S,R,zz,Y,NaN,NaN,A,C,2.00,0,SHELLS,RECEPTACLES
1,60,SM-121325-2609,S,R,zz,Y,NaN,NaN,A,C,2.00,0,SHELLS,RECEPTACLES
2,60,10-544701-23B,S,R,23,T,NaN,NaN,3,C,2.75,0,SHELLS,RECEPTACLES
3,60,SM-121325-2609,S,R,zz,Y,NaN,NaN,A,C,2.00,0,SHELLS,RECEPTACLES
4,60,21-099221-25B,S,Z,25,Y,NaN,NaN,3,C,3.00,0,SHELLS,RECEPTACLES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
582,60,10-544701-21B,S,R,21,T,NaN,NaN,3,C,2.75,0,SHELLS,RECEPTACLES
583,60,SM-711620-036,S,R,36,G,NaN,NaN,3,C,3.75,0,SHELLS,RECEPTACLES
584,60,SM-711620-036,S,R,36,G,NaN,NaN,3,C,3.75,0,SHELLS,RECEPTACLES
585,60,10-544701-23B,S,R,23,T,NaN,NaN,3,C,2.75,0,SHELLS,RECEPTACLES
586,60,10-544701-23B,S,R,23,T,NaN,NaN,3,C,2.75,0,SHELLS,RECEPTACLES

In [78]:
mesa_series_summary=mesa.groupby('PART SERIES')['PART SERIES'].count().reset_index(name='count')
mesa_material=mesa.groupby("RAW MAT TYPE")["RAW MAT TYPE"].count().reset_index(name='count')

In [79]:
mesa_series_summary['Series_Code']=mesa_series_summary['PART SERIES']
mesa_material['Material Code']=mesa_material['RAW MAT TYPE']

In [80]:
sum_total50=mesa_series_summary['count'].sum()

In [81]:
sum_total50

587

In [82]:
mesa_series_summary['Series_Code']=mesa_series_summary['Series_Code'].astype(str)
mesa_material['Material Code']=mesa_material['Material Code'].astype(str)

In [83]:
breakdown['Series_Code']=breakdown['Series_Code'].astype(str)

In [84]:
mesa_material = pd.merge(mesa_material, material_code, how="inner", on="Material Code")

In [85]:
mesa_material['total']=sum_total50

In [86]:
mesa_material['Material Frequency']=(mesa_material['count']/mesa_material['total'])*100

In [87]:
mesa_material= mesa_material[['Material Code', 'Type', 'count', 'total', 'Material Frequency']]

In [88]:
mesa_ser_merge= pd.merge(mesa_series_summary, breakdown, how="inner", on="Series_Code")

In [89]:
mesa_ser_merge['total']=sum_total50

In [90]:
mesa_ser_merge['Series Frequency']=(mesa_ser_merge['count']/mesa_ser_merge['total'])*100

In [91]:
mesa_ser_merge = mesa_ser_merge[['PART SERIES', 'Latest_Series_Description', 'count', 'total', 'Series Frequency']]

In [92]:
#merged on first sheet,

#summary statistics on the second sheet

xlwriter = pd.ExcelWriter('Purchased3_summary_statistics.xls')
merged.to_excel(xlwriter, sheet_name = 'Purchased_shells', index = True)
merged3.to_excel(xlwriter, sheet_name = 'Series Summary Statistics', startrow=3,index = True)
sidney_ser_merge.to_excel(xlwriter, sheet_name = 'Series Summary Statistics', startrow=27, index = True)
sid_material.to_excel(xlwriter, sheet_name = 'Material Summary Statistics', startrow=27,index = True)
#merged3.to_excel(xlwriter, sheet_name = 'Purchased Series Summary Statistics', index = True)
#sidney_ser_merge.to_excel(xlwriter, sheet_name = 'Purchaseds Series Summary Statistics',index = True)
merged4.to_excel(xlwriter, sheet_name = 'Material Summary Statistics', startrow=3, index = True)
mesa_ser_merge.to_excel(xlwriter, sheet_name = 'Series Summary Statistics', startrow=53,index = True)
mesa_material.to_excel(xlwriter, sheet_name = 'Material Summary Statistics', startrow=53, index = True)
xlwriter.close()

C:\Users\mpersonius\Anaconda\lib\site-packages\IPython\core\interactiveshell.py:3364: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  if (await self.run_code(code, result,  async_=asy)):